@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#home {
  height: calc(100vh - 5rem);
  min-height: calc(100vh - 5rem);
}

/* TOP SECTION LARGE NFT */
/* subsection (need to add here): toph=80px, imgh=150px, bottomh=80px */
/* top is 1/5, image 0.375, bottom is 1/5 of total height*/
.tl-total {
  width: 300px;
  height: 400px;
}

.tl-top-bottom {
  height: 80px;
}

.tl-img {
  height: 230px;
}

/* TOP SECTION SMALL NFT */
.ts-total {
  width: 240px;
  height: 350px;
}

.ts-top-bottom {
  height: 60px;
}

.ts-img {
  height: 120px;
}

/* Medium Screen Size for Top NFTs */
@media only screen and (max-width: 768px) {
  .tl-total {
    width: 220px;
    height: 320px;
  }
  
  .tl-top-bottom {
    height: 60px;
  }
  
  .tl-img {
    height: 200px;
  }
  
  .ts-total {
    width: 180px;
    height: 250px;
  }
  
  .ts-top-bottom {
    height: 50px;
  }
  
  .ts-img {
    height: 100px;
  }
}

/* total: height,
top: (Number(height) * (1/5)),
img: (Number(height) * (0.375)),
bottom: (Number(height) * (1/5)), */

/* TRENDING NFTs */
.trs-total {
  width: 100%;
  height: 100%;
}

.trs-tb {
  height: 20%;
}

.trs-img {
  height: 60%;
}
